div.dataTables_wrapper div.lookup-circle input {
    width: 36px;
}
div.dataTables_wrapper div.lookup-circle input:focus {
    width: 170px;
}
.mailbox-controls .select2-container--default .select2-selection--single {
    height: 41px;
    padding: 10px 12px 8px;
    border-radius: 4px;
}

.mailbox-controls .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
}
.mailbox-controls .select2-container {
    margin-right: 5px;
}




.table tr {
    position: relative;
}
.table tr td {
    height: 30px;
}
.table tr .row-nav {
    display: none;
}
.table tbody tr:hover .row-nav {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: #fff;
    min-width: 90px;
    text-align: right;
}

.table tbody tr:nth-of-type(odd) .row-nav {
    background: #f2f2f2;
}
td p {
    margin: 0;
}
.table .row-message {
    width: 100%;
}
.table-mailbox tbody > tr > td {
    border: none;
}
.mailbox-controls {
    padding: 0;
}
[type="checkbox"] + label {
    height: 20px;
}
.input-group .select2-container .select2-selection--single {
    height: 37px;
}
.input-group .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: -2px;
}
.nav-pills > li > a > .fa, .nav-pills > li > a > .glyphicon, .nav-pills > li > a > .ion {
    font-size: 17px;
    margin-left: 7px;
}
.mail-contnet {
    width: 100%;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > h4 {
    padding-top: 20px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > h4 > small {
    top: 4px;
}
.vtabs {
    width: 100%;
}
/*.vtabs .tabs-vertical {*/
    /*width: 100%;*/
/*}*/